:root{
	--bs-gutter-x: #{$spacing};
}

h1,.h1{text-transform: none;}

.d-grid{gap: 1em;
  @include media-max(xs){gap: 1em; }
}

.bg-info{ color: contrastFW(color(white),$info);}

.no-item__container{
	background-color: $info;
	color: contrastFW(color(white),$info);
	padding: 0.65em 1em 0.75em;
	text-align: center;
}

.mod_acqpa_headline{@extend .sep-bottom-primary !optional; margin-bottom: 0; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; gap: 0.75em;
	&:after{margin-top: 0; margin-bottom: 1.5rem; opacity: 0.45;}
	>*:last-child:not(:only-child){margin-left: auto;}
	h1,h2,.ce_headline{margin: 0;}
}


.mod_acqpa_edit_menu{margin-bottom: 1em;
	a.active{pointer-events: none;}
	a.disabled{opacity: 0.35;}
}
.mod_acqpa_edit_submit{text-align: right; margin-top: 1em;}


.table-list__cell{
	&[data-name*="date_start"],
	&[data-name*="date_end"]{white-space: nowrap;}
}

.splitForm__section{
	.accordionFW:not([class*=m-bottom]):not([class*=m-y]){margin-bottom: 0;}
	.error-container:empty{display: none;}
	.d-grid .form-group .select2FW-wrapper{min-width: 0;}
}