:root{
	--bs-gutter-x: #{$spacing};
}

h1,.h1{text-transform: none;}

.d-grid{gap: 1em;
  @include media-max(xs){gap: 1em; }
}

.bg-info{ color: contrastFW(color(white),$info);}

.no-item__container{
	background-color: $info;
	color: contrastFW(color(white),$info);
	padding: 0.65em 1em 0.75em;
	text-align: center;
}

.mod_acqpa_headline{@extend .sep-bottom-primary !optional; margin-bottom: 0; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; gap: 0.75em;
	&:after{margin-top: 0; margin-bottom: 1.5rem; opacity: 0.45;}
	>*:last-child:not(:only-child){margin-left: auto;}
	h1,h2,.ce_headline{margin: 0;}
}


.mod_acqpa_edit_menu{margin-bottom: 1em;
	a.active{pointer-events: none;}
	a.disabled{opacity: 0.35;}
}
.mod_acqpa_edit_submit{text-align: right; margin-top: 1em;}


.table-list__cell{
	&[data-name*="date_start"],
	&[data-name*="date_end"]{white-space: nowrap;}
	&[data-name*="paid"]{
		width: 50px; 
		min-width: 50px;
		text-align: center;
	}
	.mode--block &{
		&[data-name*="no"]{
			position: absolute;
    	right: 0;
    	top: 0;
    	width: auto;
    	min-width: 0;
    	padding: 0.85em 1em;
    	line-height: 1;
    	font-size: 1.25em;
    	font-weight: bold;
    	opacity: 0.65;
    }
		// &[data-name*="question"],
		&[data-name*="answers_possible"]{flex-grow: 1;}
	}
	.mode--block.alt--grid &:not([data-name*="no"]){display: grid; grid-template-columns: 15ch auto;
		&[data-label]:before{grid-row: span 10;}
	}
	&[data-name*="copy"]{
		min-width: 16px;
		max-width: 50px;
		text-align: center;
	}
}

.splitForm__section{
	.accordionFW:not([class*=m-bottom]):not([class*=m-y]){margin-bottom: 0;}
	.error-container:empty{display: none;}
	.d-grid .form-group .select2FW-wrapper{min-width: 0;}
}

// questions
body.exam #container{transform: translateZ(0px);}
.question__answer{margin-bottom: 5em;}
.question__tracknumber{font-size: 1.5em; margin-bottom: 1.5em;}
.question__answer__block{}
.question__answer__buttons{display: flex; justify-content: space-between; margin-top: 2em; position: fixed; bottom: 1em; white-space: nowrap; left: 0; right: 0; margin: auto; 
	>div{display: flex;gap: 5px;}
}

.modalFW .modal__buttons__container{
	text-align:right;
}

.select2FW-wrapper .select2-container .select2-selection--multiple .select2-search--inline .select2-search__field{
	color:inherit;
}

.table-list__line.v1 > td:first-child{
	// background-color:lightyellow;
	border-left: 3px solid darkred;
}

.exam_session__edit__spots .input-number__container{
	margin-bottom: 0;
}